@import './definition.scss';

html {
  background: color(black);
}

.browse-main {
  background: color(black);

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 68px;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    transition: 0.5s background-color;
    z-index: 100;
    &.scroll {
      background-color: black;
    }
    img {
      height: 45px;
      width: 98.5px;
      margin: 0 4%;
    }
    p {
      margin-right: 1rem;
      color: white;
      font-size: 1rem;
      &.categories {
        @include tablet {
          display: none;
        }
      }
    }
    .nav-right-side {
      position: absolute;
      height: 100%;
      right: 4%;
      top: 0;
      display: flex;
      align-items: center;
      img {
        height: 32px;
        width: 32px;
      }
      .search-field {
        transition: 0.5s;
        i {
          padding: 0 0.75vw;
        }
        input {
          width: 0;
          color: white;
          height: 32px;
          border: none;
          background: none;
          outline: none;
          transition: 0.5s;
        }
        &.active {
          border: 1px solid white;
          background: black;
          input {
            width: 200px;
          }
        }
      }
      .menu {
        position: relative;
        width: 80px;
        .profile-active {
          display: flex;
          min-width: 60px;
          margin-left: 1.5vw;
        }
        .profiles-dropdown {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          transition: 0.3s;
          transition-delay: 0.3s;
          width: 225%;
          top: 100%;
          left: -125%;
          margin-top: 2vw;
          background: color(black);
          text-align: left;

          .profiles {
            padding: 0.75vw;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            .profile {
              display: block;
              margin-top: 0.25em;
              cursor: pointer;
              img,
              p {
                display: inline-block;
                line-height: 32px;
                vertical-align: middle;
              }
              &:hover p {
                text-decoration: underline;
              }
            }
            p {
              margin-top: 0.8em;
              margin-left: 6px;
              font-size: 0.8em;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .settings {
            font-weight: bolder;
            padding: 0.75vw 0.75vw 1.5vw 0.75vw;
            p {
              margin-left: 6px;
              margin-top: 0.5em;
              font-size: 0.8em;
              &:first-child {
                margin-top: 0;
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        &:hover .profiles-dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
      i,
      p {
        cursor: pointer;
        color: white;
      }
    }
  }

  video {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: none;
    z-index: 1000;
  }

  .billboard {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    @include tablet {
      height: 50vh;
    }
    img.poster {
      position: relative;
      z-index: 1;
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
    iframe.poster {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 100%;
      width: 100%;
      transform: scale(1.45);
      pointer-events: none;
      object-fit: cover;
    }
    .text-wrapper {
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: left;
      padding-left: 4%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8) 10%,
        transparent
      );
      @include tablet {
        width: 80%;
      }
      h1 {
        color: white;
        font-size: 4.5vw;
        @include tablet {
          font-size: 16px;
        }
      }
      p {
        margin-top: 1rem;
        color: white;
        font-size: 1.4vw;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
        width: 80%;
        @include tablet {
          font-size: 12px;
        }
      }
      .buttons {
        margin: 2.5vw 0 7vw 0;
        button {
          background: rgba(51, 51, 51, 0.4);
          border: none;
          font-size: 1.2vw;
          padding: 0.75vw 2.8vw;
          margin-right: 1rem;
          color: white;
          outline: none;
          cursor: pointer;
          @include tablet {
            padding: 0.5em 1em;
            font-size: 12px;
          }

          img {
            filter: invert(1);
            height: 15px;
            width: 15px;
            margin-right: 6px;
            @include tablet {
              height: 12px;
              width: 12px;
            }
          }
          i {
            margin-right: 6px;
          }
        }
      }
    }
  }

  .list {
    text-align: left;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
    h2 {
      font-size: 1.5em;
      color: white;
      margin-left: 4%;
      @include tablet {
        font-size: 16px;
        margin-left: 5vw;
      }
    }
    div.arrow-div {
      position: absolute;
      top: calc(1.5em + 14px);
      background: rgba(0, 0, 0, 0.6);
      height: 230px;
      width: 2.5em;
      overflow: hidden;
      opacity: 0;
      transition: 0.5s;
      cursor: pointer;
      @include tablet {
        width: 5vw;
        height: calc(100% - 16px - 14px);
        max-height: 150px;
        top: calc(16px + 10px);
        opacity: 1 !important;
      }
      &.right {
        right: 0;
        img {
          transform: rotateZ(-90deg) translateY(-5px);
        }
      }
      &.left {
        left: 0;
        img {
          transform: rotateZ(90deg) translateY(5px);
        }
      }

      img {
        position: absolute;
        top: calc(50% - 25px);
        filter: invert(1);
        @include tablet {
          width: 7vw;
          top: calc(50% - 3.5vw);
        }
      }
    }
    .wrapper {
      position: relative;
      width: 100%;
      padding-top: 10px;
      transition: 0.5s;
      .slides {
        display: flex;
        position: relative;
        top: 0;
        width: 10000px;
        transition: 0.5s;
        .slide {
          width: calc(100vw - 5em - 17px);
          display: flex;
          justify-content: space-around;
          &:last-child {
            justify-content: start;
          }
          @include tablet {
            width: calc(90vw - 17px);
          }
          &:first-child {
            margin-left: 40px;
            @include tablet {
              margin-left: 5vw;
            }
          }
        }
        .item {
          display: inline;
          margin-left: 0.1em;
          cursor: pointer;
          @include tablet {
            max-width: 30%;
          }
          img {
            width: 100%;
            max-width: 154px;
            min-height: 230px;
            transition: 0.25s;
            object-fit: cover;
            @include tablet {
              min-height: 100%;
            }
          }
          &:hover {
            img {
              transform: scale(1.15);
            }
          }
          //touch-action: pan-x; //STA GOD OVO JE
        }
      }
    }
    &:hover {
      div.arrow-div {
        opacity: 1;
        &.hidden {
          opacity: 0;
        }
      }
    }
    &.netflix-originals {
      div.arrow-div {
        top: calc(16px + 13px);
        height: 460px;
        @include tablet {
          max-height: 320px;
        }
      }
      .wrapper {
        .item {
          @include tablet {
            max-width: 50%;
          }
          img {
            max-width: 240px;
            min-height: 450px;
            @include tablet {
              min-height: 320px;
            }
          }
          &:hover {
            img {
              transform: scale(1.05) !important;
            }
          }
        }
      }
    }
  }

  .details-wrapper {
    background: black;
    height: 70vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    @include tablet {
      height: 35vh;
    }
    .text-wrapper {
      color: color(gray);
      position: relative;
      height: 100%;
      width: 47%;
      z-index: 10;
      margin-left: 4%;
      padding-top: 2.5em;
      padding-right: 12%;
      background: linear-gradient(to right, black 60%, transparent);
      @include tablet {
        padding-top: 1em;
        width: 70%;
      }
      h1,
      div,
      p.description {
        opacity: 0;
        animation: 0.7s slideIn forwards ease;
        animation-delay: 0.4s;
      }
      h1 {
        font-size: 3vw;
        margin-bottom: 1em;
        @include tablet {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
      .basic-info {
        margin: 0.5em 0;
        @include tablet {
          margin: 0.15em 0;
        }
        p {
          font-size: 1vw;
          display: inline;
          margin-right: 1.2em;
          font-weight: bold;
          @include tablet {
            font-size: 10px;
          }
        }
        .match {
          color: color(green);
        }
        .year {
          color: white;
        }
        .adult {
          color: white;
          padding: 0.25em 0.5em;
          border: color(gray) 1px solid;
        }
      }
      .description {
        margin-top: 1.5rem;
        font-size: 1.2vw;
        @include tablet {
          margin-top: 0.25em;
          font-size: 10px;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        margin: 1.5em 0;
        @include tablet {
          display: none;
        }
        button,
        i.fa-thumbs-up {
          margin-right: 0.75em;
        }
        button {
          color: white;
          font: 1.2vw;
          font-weight: bold;
          padding: 0.75em 1.5em;
          border: none;
          outline: none;
          &.btn-play {
            background: color(red);
            img {
              filter: invert(1);
              height: 20px;
              width: 20px;
              margin-right: 6px;
              margin-bottom: -4px;
            }
          }
          &.btn-list {
            background: transparent;
            border: 1px white solid;
            margin-right: 2.5em;
            i.fa-plus {
              margin-right: 6px;
            }
          }
        }
        i.fa-thumbs-up {
          font-size: 1.2vw;
          border: 1px color(gray) solid;
          color: white;
          border-radius: 50%;
          padding: 0.5rem;
          &.dislike {
            transform: rotateX(180deg);
          }
        }
      }
    }
    .fa-times {
      position: absolute;
      top: 1em;
      right: 1.5em;
      z-index: 10;
      font-size: 1.7vw;
      color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
    }
    img.poster {
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      object-fit: cover;
      height: 100%;
      z-index: 1;
    }
    iframe {
      position: absolute;
      top: 0;
      width: 70%;
      right: 0;
      margin-right: -6px;
      z-index: 0;
      height: 100%;
      transform: scale(1.5);
      pointer-events: none;
    }
  }

  footer {
    width: 65%;
    margin: 3.5em auto 0 auto;
    text-align: left;
    color: color(gray);
    @include tablet {
      width: 95%;
    }
    section {
      margin: 1em auto;
      &.social i {
        font-size: 2em;
        margin-right: 1.5em;
      }
      &.links {
        display: flex;
        flex-direction: row;
        div {
          flex: 1;
          p {
            margin: 0.75em 0;
            font-size: 0.8em;
          }
        }
      }
      &.disclaimer {
        margin: 1em 0;
        p {
          display: inline;
        }
        img {
          height: 30px;
          margin-bottom: -9px;
        }
        a {
          color: color(gray);
          line-height: 34px;
        }
      }
    }
    button {
      padding: 0.4em;
      border: 1px color(gray) solid;
      color: color(gray);
      background: none;
      outline: none;
    }
    p.copyrights {
      padding-bottom: 1em;
    }
  }

  iframe {
    @include tablet {
      pointer-events: unset !important;
    }
  }
}
