.profiles-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  nav {
    text-align: left;
    height: 68px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    img {
      height: 45px;
      width: 98.5px;
      margin: 10px 4%;
    }
  }

  .profiles {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 60%;
    min-height: 12vw;
    @include tablet {
      width: 80%;
      max-width: 80%;
    }
    h1 {
      font-size: 3.5vw;
      font-weight: 100;
      color: white;
      animation: profileEnter 0.5s ease forwards;
      @include tablet {
        font-size: 16px;
      }
    }
    .profiles-wrapper {
      margin-top: 2vw;
      color: color(gray);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @include tablet {
        display: block;
      }
      .profile {
        cursor: pointer;
        animation: profileEnter 0.5s ease forwards;
        @include tablet {
          display: inline-block;
          margin: 0.5vw 2vw 0 0;
        }
        img,
        i {
          height: 10vw;
          width: 10vw;
          min-width: 84px;
          min-height: 84px;
        }
        img {
          border: color(gray) 4px solid;
          @include tablet {
            border: none;
          }
        }
        i {
          vertical-align: middle;
          line-height: 10vw;
          font-size: 10vw;
          @include tablet {
            line-height: 84px;
          }
        }
        p {
          margin-top: 1vw;
          font-size: 1.3vw;
          @include tablet {
            font-size: 12px;
          }
        }
        &:hover {
          img {
            border: white 4px solid;
          }
          p {
            color: white;
          }
          i {
            background: white;
          }
        }
      }
    }
    button.btn-profiles {
      margin-top: 4.5em;
      letter-spacing: 1px;
      border: 1px color(gray) solid;
      color: color(gray);
      font-size: 0.9em;
      padding: 0.5em 1.5em;
      background: transparent;
      outline: none;

      &:hover {
        color: white;
        border: 1px white solid;
      }
    }
  }
  .new-profile {
    width: 40%;
    text-align: left;
    @include tablet {
      width: 80%;
      max-width: 80%;
    }
    h1,
    p {
      margin: 0.25em 0;
    }
    p {
      animation: profileEnter 0.5s ease forwards;
      color: color(grey);
    }
    .new-container {
      padding: 2vw 0;
      border-top: 1px rgba(255, 255, 255, 0.5) solid;
      border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
      animation: profileEnter 0.5s ease forwards;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      img {
        height: 10vw;
        width: 10vw;
        min-width: 84px;
        min-height: 84px;
      }
      input {
        height: 2.5vw;
        background: color(grey);
        color: white;
        font-size: 1.2em;
        border: none;
        outline: none;
        padding: 0.25em 0.5em;
        font-weight: 100;
        min-height: 40px;
        &::placeholder {
          color: white;
        }
      }
    }
    button {
      margin-top: 2.5em;
      letter-spacing: 1px;
      font-size: 1em;
      padding: 0.5em 1.5em;
      outline: none;
      font-weight: 600;
      animation: profileEnter 0.5s ease forwards;
      height: 2.5vw;
      min-height: 35px;
      cursor: pointer;
      @include tablet {
        font-size: 16px;
      }
      &.btn-continue {
        color: color(black);
        border: none;
        background: white;
      }
      &.btn-cancel {
        background: transparent;
        color: color(gray);
        border: 1px color(gray) solid;
        margin-left: 2em;
      }
    }
  }
}
